.background{
   position: relative;
   background: url('/images/background-desktop.jpg');
}

.background::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
}

@media screen and (max-width:768px){
    .background{
       
        background: url('/images/background-mobile.jpg');
    }
}